################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IBMIndex/.vs/IBMIndex/FileContentIndex/1c05d76e-410b-4543-917e-52f5fa489130.vsidx
